.popup__close-icon {
    width: 41px;
    height: 41px;
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    }
    
    .popup__close-icon:hover {
    opacity: 0.6;
    }